<!-- Dashboard -->
<section class="bg-grey page-padding">
    <div class="container-fluid">
        <div class="row mb-4">
            <div class="col-md-12">
                <h3 class="fw-bold">Dashboard Overview</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <mat-card class="mat-elevation-z8 text-center">
                    <mat-card-title>
                        <h4 class="fw-bold">Total Products</h4>
                    </mat-card-title>
                    <mat-card-content>
                        <p>{{productsCount}}</p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-3">
                <mat-card class="mat-elevation-z8 text-center">
                    <mat-card-title>
                        <h4 class="fw-bold">Total Customers</h4>
                    </mat-card-title>
                    <mat-card-content>
                        <p>{{usersCount}}</p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</section>
<!-- Dashboard End -->